@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


.close {
    display: none;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;

}


.home ul li {
    display: flex;
    width: 14px;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    padding: 23px 14px;
    font-size: 13px;
    font-weight: bold;
}

.heading {
    display: flex;
    width: 100%;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.library {
    min-height: 66.3vh;
    position: relative;
}

.heading img {
    width: 30px;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: gray;
}

.right {
    margin: 16px 0;
    max-height: 96.5vh;
    overflow: scroll;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(33, 33, 33);
}

.header>* {
    padding: 20px;

}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}

.cardContainer {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 50vh;
    overflow-y: auto;
}

.card {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1e1e1e;
    position: relative;


    .card>* {
        padding-top: 10px;

    }
}

.card>p {

    color: #b3b3b3;
    ;
    font-size: 13px;
}


.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    top: 168px;
    right: 18px;
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;

}

.card:hover .play {
    top: 113px;
    opacity: 1;

}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.signupbtn {
    background-color: transparent;
    color: #aeaeae;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* border: none; */
    border: 0;
    /* border-radius: 10px; */
    font-weight: 700;
    cursor: pointer;
}

.signupbtn:hover {
    color: white;
    transform: scale(1.04);
    transition: padding .25s ease-in-out, background-color .25s ease-in-out, box-shadow .25s ease-in-out, transform .25s ease-in-out, filter .25s ease-in-out;
    animation: fadeIn .3s ease-in-out;
}

.loginbtn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    font-size: 14px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    cursor: pointer;
    padding: 16px;
    border: none;
    width: 85px;
    border-radius: 30px;

}

.loginbtn:hover {
    background-color: rgba(255, 255, 255, 0.756);
    transform: scale(1.04);
    transition: padding .25s ease-in-out, background-color .25s ease-in-out, box-shadow .25s ease-in-out, transform .25s ease-in-out, filter .25s ease-in-out;
    animation: fadeIn .3s ease-in-out;

}

.playbar {
    position: fixed;
    bottom: 30px;
    padding: 12px;
    width: 68vw;
    filter: invert(1);
    background-color: #d8d2d2;
    min-height: 35px;
    border-radius: 43px;
}

.songbuttons {
    display: flex;

    justify-content: center;
    gap: 10px;
}

.songlist ul {
    padding: 0px 0px;
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    padding: 7px;
    border: 1px solid #767070;
    margin: 12px 0;
    border-radius: 5px;

}

.songlist {
    height: 354px;
    overflow: auto;
    margin-bottom: 34px;
}

.hamburger {
    display: none;
}


.songlist .info {
    font-size: 13px;
    width: 344px;
}
.info div{
    word-break: break-all;
}
.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 16px;
    padding: 12px;
    width: 64px;
}

.seekbar {

    height: 4px;
    width: 96%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 5px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons>img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    color: black;
    margin: 10px 0;

}

.timevol
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo{
     padding: 0 12px;
    width: 250px;
}


.songtime {
   width: 110px;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.volume input{
    cursor: pointer;
        accent-color: rgb(61, 155, 105);
}

/* ===== Volume Popup Style ===== */
.volume-popup {
  position: fixed;
  bottom: 100px;
  right: 40px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 16px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 9999;
}
.volume-popup.show {
  display: block;
  opacity: 1;
}




@media (max-width: 1200px) {
    .left {
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        padding: 0;
    }
    .songinfo, .songtime{
        width: 95px;
    }

    .left .close {
        position: absolute;
        top: 25px;
        right: 25px;

    }

    .right {
        width: 100vw;
        margin: 0;

    }

    .playbar {
        width: calc(100vw - 50px);
    }

    .seekbar {
        width: calc(100vw - 70px);
    }

    .timevol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 12px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburgerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }

    .card {
        width: 38vw;
    }

    .cardContainer {
        margin: 0;
    }

    .close {
        display: block;

    }

    .abovebar {
        flex-direction: row;
        align-items:center;
        gap: 8px;
    }

        
  

}

/* Updated Volume Styles - Add these to your style.css */

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.volume > img {
    cursor: pointer;
}

/* Hide the range by default */
.volume .range {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 15px 10px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

/* Show the range when active */
.volume .range.show {
    display: block;
    opacity: 1;
}

/* Vertical slider styling */
.volume .range input[type="range"] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Webkit */
    width: 8px;
    height: 100px;
    cursor: pointer;
    accent-color: rgb(61, 155, 105);
    background: transparent;
}

/* For Firefox */
@-moz-document url-prefix() {
    .volume .range input[type="range"] {
        width: 100px;
        height: 8px;
        transform: rotate(-90deg);
        transform-origin: center center;
    }
    
    .volume .range {
        padding: 50px 15px;
    }
}

/* Volume Popup - keep existing styles */
.volume-popup {
    position: fixed;
    bottom: 100px;
    right: 40px;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 16px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.volume-popup.show {
    display: block;
    opacity: 1;
}

/* Mobile styles - Updated */
@media (max-width: 1200px) {
    /* Keep volume visible on mobile */
    .volume {
        display: flex;
    }
    
    /* Adjust popup position for mobile */
    .volume .range {
        bottom: 60px;
        right: auto;
        left: 50%;
    }
    
    .volume-popup {
        bottom: 120px;
        right: 20px;
    }
}